
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  //id="center"
  <![endif]-->



  <style media="screen">
  *{
    color: white;
  }

  </style>


  <link rel="shortcut icon" href="assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <header id="header" role="banner">

    <div class="main-nav">
      <div class="container">
        <div class="header-top">
          <div class="pull-right social-icons">
            <a href="https://twitter.com/kbshowcase"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/kingdomboundministry"><i class="fa fa-facebook"></i></a>
            <a href="http://kingdomboundshowcase.tumblr.com/"><i class="fa fa-tumblr"></i></a>
            <a href="https://www.youtube.com/user/KingdomBoundFestival"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" style="width: 200px">
              <img class="img-responsive" src="assets/logo.png" alt="logo" style="padding-top: 5px; padding-left: 10px;">
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

              <li class="scroll"><a href="#Home">Home</a></li>
              <li class="scroll"><a href="#about">Our Goal</a></li>
              <li class="scroll"><a href="#explore">Countdown</a></li>
              <li class="scroll"><a href="#submission">Submission Rules</a></li>
              <li class="scroll"><a href="#prizes">Prizes</a></li>
              <li class="no-scroll"><a href="#twitter">Twitter</a></li>
              <li><a class="no-scroll" href="/register" target="_blank">REGISTER</a></li>
<!--              <li class="scroll"><a href="#contact">Contact</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--/#header-->

  <section id="home">
    <div id="main-slider" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
        <li data-target="#main-slider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-responsive" src="assets/slider/bg1.jpg" alt="slider">
          <div class="carousel-caption">
            <h2>This could be you!</h2>
            <a href="/register">SIGN UP HERE<i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/slider/bg2.jpg" alt="slider">
          <div class="carousel-caption">
            <h2>This could be you!</h2>
            <a href="/register">SIGN UP HERE<i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/slider/bg3.jpg" alt="slider">
          <div class="carousel-caption">
            <h2>This could be you!</h2>
            <a href="/register" >SIGN UP HERE <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about">

      <div class="about-content" style="padding-top: 20px; padding-bottom: 30px; padding-left: 1cm ; padding-right: 1cm ;">

            <h1 id="center" style="font-size:xx-large;"><u>Our Goal</u></h1>
            <p align="center">Our goal is to find the next generation of musical talent that will spread the gospel.<br>
               We’re looking for the next Lecrae, Hillsong United, Skillet; THIS COULD BE YOU! </p>

            <br>


            <br>

            <p>
              The Kingdom Bound Festival reaches over <b>45,000</b> people from the Northern U.S. and
              Southern Ontario area with four days of concerts, seminars, sports and children’s activities held
              at the Darien Lake Theme Park Resort.  More than a contest, the Kingdom Bound Talent
              Showcase continues to be a launch pad for Christian artists to fulfill their God-given calling. To
              all interested Musicians: practice hard, polish up, and come ready to have an amazing time,
              because this year’s Showcase is going to be the best one yet!
            </p>

            <br>

            <p>
              Selected semi-finalist’s submission videos will be uploaded to the Kingdom Bound Talent Showcase
              YouTube channel where fans can:
            </p>

            <ul>
              <li>Watch and listen to the semi-finalists submission video</li><br>
              <li>Like and share their favorite artists video</li><br>
              <li>Text to vote for their favorite artist to become a finalist</li><br>
            </ul>

            <p>
              6 finalists (1 regional, 1 Canadian, and 4 national) will then perform live at the Festival at the
              EDGE Stage on Saturday, July 25th in front of a panel of judges and a to-be-announced
              Kingdom Bound Artist.
            </p>

        </div>
      </div>
  </section><!--/#about-->

  <!--/#home-->

  <section id="explore">
    <div class="container">
      <div class="row">
        <div class="watch">
          <img class="img-responsive" src="assets/watch.png" alt="">
        </div>
        <div class="col-md-4 col-md-offset-2 col-sm-5">
          <h2>Submissions due in:</h2>
        </div>
        <div class="col-sm-7 col-md-6">
          <ul id="countdown">
            <li>
              <span class="days time-font">00</span>
              <p>days </p>
            </li>
            <li>
              <span class="hours time-font">00</span>
              <p class="">hours </p>
            </li>
            <li>
              <span class="minutes time-font">00</span>
              <p class="">minutes</p>
            </li>
            <li>
              <span class="seconds time-font">00</span>
              <p class="">seconds</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="cart">
        <a href="/register"><i class="fa fa-user-plus"></i> <span id="cart">Register Now!</span></a>
      </div>
    </div>
  </section><!--/#explore-->

  <!---->
  <section class="submission" id="submission">
    <div id="subs">
      <h1 id="center" style="font-size:xx-large;"><u> Submission Requirements</u></h1>

      <br>

      <div>

        <p id="center" style="  font-size: large; font-family: 'Dosis', sans-serif;">
              We want to get a sense of who you are and what you want to accomplish with your

        music! Here is what we will need from you in your Submission Video:
          <br><br>

          <ul style="margin-left:4cm;">
            <li>Your Original Composition</li>
            <br>
            <li>Tell us who you are and where you’re from</li>
            <br>
            <li>Tell us how your faith has influenced both your life and your music</li><br>
            <li>Let us know what your goals are as Christian Music Artists and
                what performing at The Kingdom Bound Festival would mean to you!</li><br>
          </ul>

          <p id="center" style="  font-size: large; font-family: 'Dosis', sans-serif;">
            We'll also need two songs of your choice submitted as MP3s.
          </p>

        </p>
    </div>
  </div>
  </section>
  <!--/-->

  <section id="prizes">
    <div class="container">

      <div class="guitar">
        <img class="img-responsive" src="assets/guitar.png" alt="guitar">
      </div>

      <div class="winning" style="padding-left: 2cm">

        <h1 id="center" style="font-size:xx-large;"><u>Prizes</u></h1>

          <br>

        <h3 id="center">Selected Finalists will receive:</h3>
          <ul>
            <li>A Management and Promotional Team</li><br>
            <li>The opportunity to perform live on The Edge Stage at the 2015 Kingdom Bound Showcase</li>
          </ul>

        <br>

        <h3 id="center">The Winning Finalist:</h3>
        <ul>
          <li>Will be selected live at the Showcase and will be announced on the main stage just before Grammy award winning artist Lecrae performs!</li><br>
          <li>Will also advance to the Christian Festival Association National Finals where they'll have the opportunity to
              perform a paid tour of 14 different festivals across the nation!
          </li>
        </ul>
      </div>

    </div>
  </section><!--/#explore-->

  <section id="event">
    <div class="container">
            <table id="pics" align="center">
              <tr>
                <td colspan="3">
                  <h1 id="center" style="font-size:xx-large;">Previous Contestants</h1>
                </td>
              </tr>

              <tr>
                <td id="center">
                  <img id="img" class="circular" class="img-responsive" src="assets/event/event1.jpg" id="dim" alt="event-image">
                </td>

                <td id="center">
                  <img id="img" class="circular" class="img-responsive" src="assets/event/event2.jpg" id="dim" alt="event-image">
                </td>

                <td id="center">
                  <img class="circular" class="img-responsive" src="assets/event/event3.png" alt="event-image" id="dim">
                </td>

              </tr>

              <tr>

                <td>
                  <h4 id="center">Lily Among Thorns</h4>
                </td>

                <td>
                  <h4 id="center">Chelsea Musick</h4>
                </td>

                <td>
                  <h4 id="center">25 Ta Lif3</h4>
                </td>

              </tr>
        </table>
    </div>
  </section><!--/#event-->

  <section id="twitter">


    <img src="assets/twit.png" id="bird" />
    <img src="assets/twit.png" id="otherbird" />
    <table id="tweeter">
      <tr>
        <td><h1 style="color: #1ba9f0; font-size: xx-large;">Follow @KingdomBound on Twitter!</h1></td>

      <tr>
        <td>

          <a class="twitter-timeline"  href="https://twitter.com/KingdomBound" data-widget-id="563826748048310272">Tweets by @KingdomBound</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </td>
      </tr>
    </table>
  </section><!--/#twitter-feed-->
<!--
  <section id="sponsor">
    <div id="sponsor-carousel" class="carousel slide" data-interval="false">
      <div class="container">
        <div class="row">
          <div class="col-sm-10">
            <h2>Sponsors</h2>
            <a class="sponsor-control-left" href="#sponsor-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="sponsor-control-right" href="#sponsor-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
            <div class="carousel-inner">
              <div class="item active">
                <ul>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor1.png" alt=""></a></li>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor2.png" alt=""></a></li>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor3.png" alt=""></a></li>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor4.png" alt=""></a></li>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor5.png" alt=""></a></li>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor6.png" alt=""></a></li>
                </ul>
              </div>
              <div class="item">
                <ul>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor6.png" alt=""></a></li>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor5.png" alt=""></a></li>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor4.png" alt=""></a></li>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor3.png" alt=""></a></li>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor2.png" alt=""></a></li>
                  <li><a href="#"><img class="img-responsive" src="assets/sponsor/sponsor1.png" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="light">
        <img class="img-responsive" src="assets/light.png" alt="">
      </div>
    </div>
  </section><!--/#sponsor-->
  <!--/#contact-->
  <footer id="footer">
    <div class="container">
      <div class="text-center">
        <p class="fl">Copyright © 2014 Kingdom Bound Ministries, Inc. All Rights Reserved<br />
8550 Sheridan Dr., Williamsville, NY 14221<br />
716.633.1117 • 800.461.4485 • kbinfo@kingdombound.org</p>
        <p> Copyright  &copy;2014<a target="_blank" href="http://shapebootstrap.net/"> Evento </a>Theme. All Rights Reserved. <br> Designed by <a target="_blank" href="http://shapebootstrap.net/">ShapeBootstrap</a></p>
      </div>
    </div>
    <a href="#" class="go-top">Go Top</a>
  </footer>
  <!--/#footer-->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<script>
  	$(function() {
  	  $('a[href*=#]:not([href=#])').click(function() {
  	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

  	      var target = $(this.hash);
  	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
  	      if (target.length) {
  	        $('html,body').animate({
  	          scrollTop: target.offset().top
  	        }, 1000);
  	        return false;
  	      }
  	    }
  	  });
  	});
  	// BACK TO TOP BUTTON //
    $(document).ready(function() {
			// Show or hide the sticky footer button
			$(window).scroll(function() {
				if ($(this).scrollTop() > 200) {
					$('.go-top').fadeIn(200);
				} else {
					$('.go-top').fadeOut(200);
				}
			});

			// Animate the scroll to top
			$('.go-top').click(function(event) {
				event.preventDefault();

				$('html, body').animate({scrollTop: 0}, 300);
			})
		});
    </script>

<!-- </body>
</html> -->
