<div class="page-header">
  <div class="jumbotron">
    <h1 class="text-center" style="color:#333333;">
      Registration
    </h1>
    <% if !@errors.blank? %>
      <% for item in @errors %>
        <div class="alert alert-danger">
          <span style="color:red;"><%= item %></span>
        </div>
        <% end %>
          <% end %>
  </div>
</div>

<style>
*{
  color: black;
}

.form-horizontal {
  color: #cccccc;
}
</style>

<div class="container">
  <form action="/" method="post" class="form-horizontal">
    <div class="row">
      <div class="col-sm-6">
        <h2>Personal Details</h2>
        <div class="form-horizontal">
          <div class="form-group">
            <label for="first_name" class="col-sm-2">First Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="first_name" placeholder="John" required>
            </div>
          </div>
          <div class="form-group">
            <label for="last_name" class="col-sm-2">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="last_name" placeholder="Smith" required>
            </div>
          </div>
          <div class="form-group">
            <label for="date_of_birth" class="col-sm-2">D.O.B</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" name="date_of_birth" required>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" name="email" placeholder="your-email@here.com required">
            </div>
          </div>
          <div class="form-group">
            <label for="confirm_email" class="col-sm-2">Retype Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" name="confirm_email" placeholder="your-email@here-again.com" required>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h2>Submission Details</h2>
        <div class="form-horizontal">
          <div class="form-group">
            <label for="link" class="col-sm-2">Video</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" required name="video" placeholder="Video Link">
            </div>
          </div>
          <div class="form-group">
            <label for="link" class="col-sm-2">MP3 1</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" required name="mp3_1" placeholder="MP3 Link 1">
            </div>
          </div>
          <div class="form-group">
            <label for="link" class="col-sm-2">MP3 2</label>
            <div class="col-sm-9">
              <input type="text" class="form-control " required name="mp3_2" placeholder="MP3 Link 2">
            </div>
          </div>
          <div class="form-group">
            <div class="label-warning" style="color:#333333; padding: 10px;">
              <h3>Please Read</h3>
              <p>By checking the checkbox below, you agree to all the terms and services in this link: <a type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#agreements">Terms and Agreements</a>
              </p>
              <p>
                <input type="checkbox" name="agree_to_terms"> I hereby agree to all terms listed in the link above.</p>
            </div>
          </div>
          <div class="form-group">
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="text-center">
        <em>All Fields are required.</em>
        <hr>
        <div class="alert alert-danger">
          <h3>Important!</h3>
          <p>
            Upon submission, you will be redirected to Paypal to submit your registration fee. Failure to pay the registration fee will result in a forfeit in your application, and will not be considered for entry.
          </p>
        </div>
        <hr>
        <button class="btn-lg btn-success" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="agreements" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color: black;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Terms and Agreements</h4>
      </div>
      <div class="modal-body">
        <h2>GENERAL</h2>
        <ol>
          <li>
            These terms and agreements apply to the “Kingdom Bound Showcase” competition (the 'Competition') via Kingdom Bound Ministries at the location of 8550 Sheridan Dr., Williamsville, NY 14221.
          </li>
          <li>
            Kingdom Bound Ministries reserves the right to cancel or amend all or any part of the Terms and Agreements without notice for any event that is outside of Kingdom Bound Ministries reasonable control. Any changes to the Terms and Agreements, or cancellation of the Competition, will be posted on the Kingdom Bound Showcase website (www.kbtalent.com) and associated social media. It is the responsibility of entrants to keep themselves informed as to any changes to the Terms and Agreements.
          </li>
          <li>
            In the event of any dispute regarding the Terms and Agreements, the conduct or results of the Competition, or any other matter relating to the Competition, the decision of the semi-finalists, finalists, and selected finalist shall be final and unchallengeable and no correspondence or discussion shall be entered into, comment issued, or reason given in respect of any decision made by the Competition.
          </li>
        </ol>

        <h2>COMPETITION ENTRANTS</h2>
        <ol>
          <li>
            By entering the Competition, you hereby warrant that all information submitted by you in your Entry is true, accurate and complete in every respect. The Competition reserves the right to verify any information contained in your Entry and/or your eligibility to enter the Competition.
          </li>
          <li>
            The Competition is open to persons of any age. The Competition assumes that by entering into the Competition, the parents or guardians of any entrant that is aged under the age of 18 have consented to that person's entry into the Competition and these Terms and Agreements. If selected as a finalist, a parent/guardian must accompany those under the age of 18.
          </li>
          <li>
            The Competition reserves the right in its absolute discretion to disqualify any entrant if they have reasonable grounds to believe that an entrant has breached any of the Terms and Agreements, any applicable law (including copyright law) or has otherwise infringed the intellectual property of any other person. Each entrant acknowledges and agrees that any failure to comply with the Terms and Agreements could lead to the Competition disqualifying that person, without giving any reason for such disqualification or granting any opportunity for challenge.
          </li>
          <li>
            Any person that is: (a) an employee of any company involved in the Competition (including Kingdom Bound Ministries) is not eligible to enter the Competition. The Competition reserves the right to disqualify any person that it knows is, or has reasonable grounds to believe is, ineligible for the Competition as a result of this Rule.
          </li>
          <li>
            In the event that a Prize-winner is disqualified from the Competition, the judges will select an alternative Prize-winner in the same manner as the original Prize-winner.
          </li>
        </ol>

        <h2>COMPETITION ENTRIES</h2>
        <ol>
          <li>Entries must be made by the Closing Date and in the manner set out in Submission Requirements. Failure to do so will result in disqualification.</li>
          <li>There is a nonrefundable $25 dollar submission fee that must be sent along with the video and mp3s in order to be entered into the competition.</li>
        </ol>
        <h2>PRIZE-WINNERS</h2>
        <ol>
          <li>Semi-finalists and Finalists will be selected and notified by a Kingdom Bound representative. The Selected Finalist will be chosen live at the Showcase by a panel of judges. No prize will be awarded where any entrant has committed any form of misconduct (as determined by the Competition in its sole discretion).</li>
          <li>Prizes are non-transferable and there is no cash alternative. In the event of a prize being unavailable for any reason the Competition reserves the right to substitute prizes of equal or greater value at any time.</li>
        </ol>

        <h2>LIABILITY</h2>
        <ol>
          <li>The Competition accepts no responsibility for any damage, loss, injury or disappointment of any kind suffered by any entrant in entering the Competition, including as a result of any entrant winning or not winning any prize.</li>
          <li>The Competition accepts no responsibility for Entries lost, damaged or delayed in the post, or due to computer error in transit. </li>
        </ol>
        <h2>INTELLECTUAL PROPERTY RIGHTS AND DATA PROTECTION</h2>
        <ol>
          <li>You agree that Kingdom Bound Ministries (and any third party authorised by Kingdom Bound Ministries) may use your Entry (whether or not it wins the Competition) for any promotional purpose (i.e. placing it on the Competition website or on any poster, leaflet or other advertising media). You confirm that your Entry is original that you own and have the right to license to the Competition the copyright and other intellectual property rights in the Entry for the purposes referred to in these Rules. You will retain ownership of copyright in your Entry but you give the Competition (and any third party authorised by Kingdom Bound Ministries) your irrevocable permission to use, reproduce, publish, display, transmit, copy, and store your Entry worldwide for such promotional purposes and for the purposes of the Competition.</li>
          <li>The Competition will use any personal information that you provide with your Entry for the purposes of the Competition and, where you have given your consent, for marketing purposes including the distribution of regular email updates or newsletters. Any personal information relating to entrants will be used solely by us in accordance with applicable data protection legislation.</li>
          <li>All Prize-winners unconditionally agree (as a condition of accepting any prize) to the use of their name, one or more photographs of themselves and co-operate with or participate in any other reasonable post-Competition publicity.</li>
        </ol>
        <h2>GOVERNING LAW AND JURISDICTION</h2>
        <ol>
          <li>The Rules and any dispute or claim arising out of or in connection with them or their subject matter (including the Competition), existence, negotiation, validity, termination or enforceability (including non-contractual disputes or claims) shall be governed by and construed in accordance with United States law.</li>
          <li>The Courts of the United States shall have exclusive jurisdiction in relation to any dispute or claim arising out of or in connection with the Rules or their subject matter, existence, negotiation, validity, termination or enforceability (including non-contractual disputes or claims).</li>
        </ol>
        <h2>COPIES OF THESE RULES</h2>
        <p>A copy of these Rules may be obtained by sending a stamped addressed envelope to: Kingdom Bound Ministries, 8550 Sheridan Dr., Williamsville, NY 14221.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
